name: Convert Markdown to PDF and release

on:
  pull_request:
    types: [closed]
    branches:
      - main
    paths:
      - 'README.md'

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - name: git checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      # Doc: https://github.com/marketplace/actions/markdownlint-cli2-action
      - name: markdown linter
        uses: DavidAnson/markdownlint-cli2-action@992badcdf24e3b8eb7e87ff9287fe931bcb00c6e # v0.17.2
        with:
          fix: true
          config: 'config/.markdownlint.json'
          globs: |
            README.md

      - name: install pdf toolchain
        run: bash scripts/install-pdf-deps.sh

      - name: convert markdown to pdf
        run: pandoc README.md --defaults=config/pandoc/pdf.yml

      - name: resume zip archive
        run: zip resume.zip resume.pdf

      - name: set current datetime as env variable-1
        env:
          TZ: 'Asia/Tokyo'
        run: echo "CURRENT_DATETIME=$(date +'%Y%m%d')" >> "$GITHUB_ENV"

      - name: set current datetime as env variable-2
        env:
          TZ: 'Asia/Tokyo'
        run: echo "CURRENT_DATETIME2=$(date +'%Y/%m/%d')" >> "$GITHUB_ENV"

      - name: release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          name: "Release ${{ env.CURRENT_DATETIME }}"
          tag_name: "update_${{ env.CURRENT_DATETIME }}"
          body: "${{ env.CURRENT_DATETIME2 }} 時点の職務経歴書"
          draft: false
          prerelease: false
          make_latest: true
          files: |
            resume.pdf
