name: Manually Executed Workflow

on: [ workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: git checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      # Doc: https://github.com/marketplace/actions/markdownlint-cli2-action
      - name: markdown linter
        uses: DavidAnson/markdownlint-cli2-action@992badcdf24e3b8eb7e87ff9287fe931bcb00c6e # v0.17.2
        with:
          fix: true
          config: 'config/.markdownlint.json'
          globs: |
            README.md

      - name: install pdf toolchain
        run: bash scripts/install-pdf-deps.sh

      - name: convert markdown to pdf
        run: pandoc README.md --defaults=config/pandoc/pdf.yml

      - name: upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: my-resume
          path: resume.pdf
